.player {
	gap: 50px;
	width: 100%;
	padding: 20px;
	background: #CFD3D6;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.player__play {
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.player__play {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='none'%3E%3Cpath fill='%23fff' d='M0 40V0h4.343L40 18.795v2.169L4.343 40H0Z'/%3E%3C/svg%3E");
}

.player__play.is-playing {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='40' height='40' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M0 512h162.9V0H0v512zM349.1 0v512H512V0H349.1z'/%3E%3C/svg%3E");
}

.player__pause {
	width: 40px;
	height: 40px;
	cursor: pointer;
	display: none;
}

.player__timeline {
	width: 100%;
}

.player__timer {
	font-size: 12px;
	line-height: 16px;
}

.player input[type="range"] {
  height: 2px;
  background: #ADACAD;
	background-size: 0% 100%;
	background-image: linear-gradient(#FFFFFF, #FFFFFF);
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
  border-radius: 0;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.player input[type="range"]::-webkit-slider-thumb {
  width: 16px;
  height: 12px;
  background: #FFFFFF;
  border-radius: 6px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

input.player__volume[type="range"] {
  background: #FFFFFF;
	background-size: 0% 100%;
	background-image: linear-gradient(#1B191C, #1B191C);
	width: 252px;
}

input.player__volume[type="range"]::-webkit-slider-thumb {
	background: #1B191C;
	border-radius: 0;
}
